[Unit]
Description=Run ldmtool create all before mount
Before=local-fs.target

### This avoids dependency cycles
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/ldmtool create all

[Install]
WantedBy=multi-user.target